.eventCard {
  display: flex;
  flex-direction: column;
  height: 100%; /* Make the card stretch to its container */
  border: 1px solid #e8e8e8; /* Optional: add border */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Optional: add shadow */
}

.content {
  flex: 1; /* Allow content to grow to fill space, pushing buttons down */
  padding: 16px; /* Ensure all paragraphs have equal spacing */
  display: flex; /* Add display flex to the container */
    flex-direction: column; /*Make the element grow to occupy the space*/
}

